@font-face {
  font-family: 'Jellyfish Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(MaterialSymbolsRounded.woff2) format('woff2'); /* v376 */
}

.material-icons {
  font-family: 'Jellyfish Icons';
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.material-icons.play_circle_filled:before {
    content: "\e039";
}

.material-icons.favorite:before {
    content: "\e87e";
}

.material-icons.info_outline:before {
    content: "\e88e";
}

.material-icons.add_circle:before {
    content: "\e148";
}

.material-icons.person:before {
    content: "\e853";
}
